.titulo {
    color: #767B4B;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 48px;
    font-weight: 560;
    text-transform: uppercase;
    line-height: 1.25em;
    letter-spacing: 5px;
    text-align: center;
    Padding: 100px 0px 0px 0;
}