@media (min-width: 320px) {

    .mi {
        height: 230px;
    }
}

@media (min-width: 720px) {

    .mi {
        height: 230px;
    }
}

@media (min-width: 1024px) {

    .mi {
        height: 285px;
    }
}