.conte {
    background-color: #F4F0ED;
}

.titulo1 {
    color: #767B4B;
    font-family: "Prata", Sans-serif;
    font-weight: 200;
    text-align: center;
}

.cont {
    color: #7E7E7E;
    font-family: "Prata", Sans-serif;
    font-weight: 200;
}

.parrafo {
    font-family: "lora", Sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 200;
}

@media (min-width: 320px) {

    .titulo1 {
        font-size: 30px;
    }

    .cont {
        font-size: 24px;
        text-align: center;
    }

    .parrafo {
        font-size: 12px;
        text-align: center;
    }
}

@media (min-width: 1024px) {

    .titulo1 {
        font-size: 48px;
    }

    .cont {
        font-size: 30px;
    }

    .parrafo {
        font-size: 14px;
    }
}