@media (min-width: 320px) {

    .text1 {
        font-size: 15px;
    }

    .text2 {
        font-size: 40px;
    }

    .text3 {
        font-size: 25px;
    }

    .linea {
        display: none;
    }

    .domi {
        font-size: 25px;
    }

    .col1 {
        order: 1;
        font-size: 25px;
        line-height: 0.7em;
    }

    .col2 {
        order: 0;
    }

    .num {
        line-height: 0.7em;
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .text1 {
        font-size: 15px;
    }

    .text2 {
        font-size: 45px;
    }

    .text3 {
        font-size: 30px;
    }

    .linea {
        display: flex;
        opacity: 0.3;
    }

    .col1 {
        order: 0;
    }

    .col2 {
        order: 1;
    }

    .num {
        line-height: 2.0em;
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    .text1 {
        font-size: 25px;
    }

    .text2 {
        font-size: 70px;
    }

    .text3 {
        font-size: 40px;
    }

    .linea {
        display: flex;
        opacity: 0.3;
    }

    .col1 {
        order: 0;
    }

    .col2 {
        order: 1;
    }

    .num {
        line-height: 2.0em;
        font-size: 40px;
    }
}