@media (min-width: 320px) {
    .base {
        padding: 90px 0px 210px 0px;
        height: 100%;
        /* display: flexbox; */
        overflow-x: hidden;
    }

    .text1 {
        font-size: 15px;
    }

    .text2 {
        font-size: 40px;
    }

    .text3 {
        font-size: 25px;
    }

    .linea {
        display: none;
    }

    .domi {
        font-size: 25px;
    }

    .col1 {
        order: 1;
        font-size: 25px;
        line-height: 0em;
    }

    .col2 {
        order: 0;
        line-height: 0em;
    }

    .num {
        line-height: 0.5em;
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .base {
        padding: 75px 0px
    }

    .text1 {
        font-size: 15px;
    }

    .text2 {
        font-size: 45px;
    }

    .text3 {
        font-size: 30px;
    }

    .linea {
        display: flex;
        opacity: 0.3;
    }

    .col1 {
        order: 0;
        line-height: 1.1em;
    }

    .col2 {
        order: 1;
        line-height: 0em;
    }

    .num {
        line-height: 2.0em;
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    .base {
        padding: 75px 0px
    }

    .text1 {
        font-size: 25px;
    }

    .text2 {
        font-size: 70px;
    }

    .text3 {
        font-size: 40px;
    }

    .linea {
        display: flex;
        opacity: 0.3;
    }

    .col1 {
        order: 0;
        line-height: 1.1em;
    }

    .col2 {
        order: 1;
        line-height: 0em;
    }

    .num {
        line-height: 2.0em;
        font-size: 40px;
    }
}