@media (min-width: 320px) {
    .carrusel {
        Padding: 20px 5px;
        /* transform: scale(1.5); */
        /* transform: scaleY(2.5); */

    }

    .contai {
        padding: 45px 5px;
    }

    .carru-capti {
        padding: 0;
    }

    .titu {
        font-size: 25px;
        margin: 0px 0px 30px;
    }

    .parra {
        font-size: 14px;
        margin: 0px 0px 30px;
    }

    .button {
        padding: 4px 10px;
        font-size: 12px;
    }

}


.title {
    color: #767B4B;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.25em;
    letter-spacing: 5px;
}

@media (min-width: 1024px) {
    .contai {
        padding: 100px 50px;
    }

    .carrusel {
        Padding: 40px 40px;
        /* position: relative; */
    }

    .carru-capti {
        padding: 0 25px;
    }

    .titu {
        font-size: 37px;
        margin: 0px 0px 30px;
    }

    .parra {
        font-size: 17px;
        margin: 0px 0px 30px;
    }

    .button {
        padding: 8px 20px;
        font-size: 16px;
    }


}

.carru-capti {
    /* text-align: center;
    color: #ffffff;
    font-family: "Roboto", Sans-serif; */
    /* font-size: 60px; */
    /* font-weight: 600; */
    /* font-style: italic; */
    /* position: absolute; */
    top: 50%;
    bottom: auto;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);

}

.titu {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    /* font-size: 37px; */
    font-weight: 600;



    /* font-style: italic; */
    /* position: absolute; */
}

.button {

    color: #ffffff;
    border-color: #ffffff;
    background: transparent;
    border: 2px solid white;
}

.jpg {
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(0, 0, 0));
    /* opacity: 0.1; */
    /* background-size: cover; */
    /* background-image: url(/public/assets/011.jpg); */
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* position: relative; */
}